body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    font-family: Roboto;
    gap: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 80px;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

a{
    display: flex;
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    margin-right: auto;
    
    font-size: 28px;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 0;
    color: white;
}

.hero-img {
    max-height: 50%;
    flex: 1;
    text-align: center;
    background-color: #E5E7EB;
    width: 40%;
   
}

.small-hero {
    max-width:50%;
}

button {
    border: 1px #3882F6 solid;
    border-radius: 5px;
    padding: 5px;
    width: 20%;
    color: white;
}

button, .blue-box {
    background-color: #3882F6;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondtext {
    font-size: 18px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 0;
    padding-bottom: 60px;
}

.sections {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 0px;
    padding: 10px;
    width: 30%;
}

.section-title {
    padding: 0px;
}

.borders {
    
    border: 2px #3882F6 solid;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content p {
    font-size: small;
    text-align: center;
    width: 70%;
}

.testimonial {
    display: flex;
    flex-direction: column;
    
    background-color: #E5E7EB;
    padding: 40px;
}

.testimonial-p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.testimonial-p p{
    width: 70%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.testimonial-h4 {
    display: flex;
    justify-content: flex-end;
}

.advertazing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 30px 80px;
    border-radius: 10px;
    gap: 30px;
    color: white;
}

.blue-box-text {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 0;
}

.blue-box-text h2 {
    font-size: medium;
    margin: 0;
}

.blue-box-text p {
    margin: 0;
    font-size: small;
    font-weight: lighter;
}

.blue-box button {
    border: 1px white solid;
    height: 10%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    font-size: small;
    font-weight: 400;
}